---
layout: default
---
<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title"><span style="color:rgb(57, 49, 161);">#{{ page.title | capitalize }}</span></h1>
  </header>

  {% include page_divider.html %}

  <article class="post-content" style="min-height:80vh;">
    <ul class="posts-list">
      {% for post in page.posts %}
      <li><strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong><span class="post-date"> - {{ post.date | date: "%Y/%-m/%d" }}</span></li>
      {% endfor %}
    </ul>
  </article>

</div>
</div>
<br>
<style scoped>

</style>
