// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

@font-face {
    font-family: 'Vera';
    src: url('../../assets/Vera.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'netmarbleM';
    src: url('../../assets/netmarbleM.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'netmarbleL';
    src: url('../../assets/netmarbleL.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

td {
    word-break: break-all;
}

/* css override */

* {
    font-family: 'netmarbleL' !important
}

h1,
h2,
h3,
h4 {

    font-family: 'netmarbleM' !important
}

code,
code span {
    font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace, sans-serif !important;
}

.hljs-comment {
    color: #ffe04a !important
}

#search-bar {
    margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
}

#search-bar #search-input {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    padding: 0;
    text-indent: 1rem;
    border-style: none;
}

*:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.image-wrap {
    width: 100%;
    border: 1px solid rgb(209, 221, 245);
    vertical-align: middle;
    min-height: 12rem;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
}

.image-wrap.side{
    background-position: 0% 0%;
    background-size: auto;
}

.image-wrap.full{
    opacity:0.6;
    background-size:100%;
}

#keywords {
    color: #97a7d5;
    width: 95%;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post_count {
    float: right;
    transform: scale(0.8, 0.8);
    color: #00b5c7;
}

.posts-list-title {
    cursor: pointer;
}

.posts-list-title:hover {
    color: rgb(74, 71, 226);
}

a+em {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.post-date {
    color: rgb(119, 119, 119);
    font-size: 0.8rem;
    float: right;
}

.page-number {
    font-weight: bold;
    color: #2980b9;
}

.footnotes {
    color: #20157e;
    font-size: .8rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

/* colors */
.text-danger {
    color: #ff3324
}

.text-primary {
    color: #2a0d80
}

.text-success {
    color: #19b149
}

.text-secondary {
    color: #8b0e87
}

.text-warning {
    color: #eca12f
}

.text-info {
    color: #0b90dd
}

.post-list li {
    position: relative;
    transition: 1s linear color;
}

.post-list li h4 {
    color: #1a3d8b;
    transition: 0.3s linear color;
}

.post-list li:hover {
    cursor: pointer;
}

.post-date {
    position: absolute;
    bottom: 0px;
    right: 0.5rem;
}

.post-list li:hover h4 {
    color: rgb(0, 119, 255);
}

/* responsive */
@media screen and (max-width: 1024px) {
    .post-date {
        display: none;
    }

    .post-list li {
        width: 100% !important;
        font-size: 0.9rem !important;
    }
}