// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

@font-face {
    font-family: 'Vera';
    src: url('../../assets/Vera.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'netmarbleM';
    src: url('../../assets/netmarbleM.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'netmarbleL';
    src: url('../../assets/netmarbleL.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css override */

* {
    font-family: 'netmarbleL' !important
}

h1,
h2,
h3,
h4 {

    font-family: 'netmarbleM' !important
}

code,
code span {
    font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace, sans-serif !important;
}

.hljs-comment {
    color: #ffe04a !important
}

#search-bar {
    margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
}

#search-bar #search-input {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    padding: 0;
    text-indent: 1rem;
    border-style: none;
}

*:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#keywords {
    color: #97a7d5;
    width: 95%;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post_count {
    float: right;
    transform: scale(0.8, 0.8);
    color: #00b5c7;
}

.posts-list-title {
    cursor: pointer;
}

.posts-list-title:hover {
    color: rgb(74, 71, 226);
}

a+em {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.post-date {
    color: rgb(119, 119, 119);
    font-size: 0.8rem;
    float: right;
}

.page-number {
    font-weight: bold;
    color: #2980b9;
}

.color1 {
    color: #ff3324
}

.color2 {
    color: #3f19b1
}

.color3 {
    color: #19b149
}

.color4 {
    color: #8b0e87
}

.color5 {
    color: #dd890b
}

@media screen and (max-width: 900px) {
    .post-date {
        display:none;
    }
}